.visible{
    display: block;
}
.hidden{
    display: none;
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.left{
    text-align: left;
    margin-left: 20px;
}
.main-content{
    display: flex;
    flex-direction: row;
    background: #1e1e2f;
    padding: 20px;
    margin: 0 auto;
    justify-content: center;
}

.left_column{
    width: 40%;
    background: #2e2e3f;
    color: white;
    padding: 20px;
    box-sizing: border-box;

}

.right_column{
    display: flex;
    flex-direction: column;
    align-content: start;
    width: 40%;
    background: #2f2f49;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}


.image-container{
    width:300px;
    height: 400px;
    overflow: hidden;
    margin: auto;
    border-radius: 10px;
}
.movie-image{

    object-fit: cover;

}
.back-button{
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: #747bfa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 20px;
}
.back-button:hover{
    width: 200px;

}
.footer{

    margin: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1e1e2f;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

.title{
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.search_bar{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 16px;
    margin-bottom: 20px;
}
.container_fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}